
<h1 class="page-title"><a href="{{ site.baseurl }}/index.html">{{ page.organization-name }} <br>API docs</a></h1>
      <p class="intro">Build your own tools using our API to access {{ page.organization-name }} public data.</p>
    <nav>    
        <ul>
          <li><a href="{{ site.baseurl }}/index.html" class="overview">Overview</a></li>
          <li><a href="{{ site.baseurl }}/basics.html" class="basics">API basics</a></li>
          <li><a href="{{ site.baseurl }}/console/" class="console">API calls</a></li>
          <li><a href="{{ site.baseurl }}/queries.html" class="queries">Query language</a></li>
          <li><a href="{{ site.baseurl }}/fields.html" class="fields">Field reference</a></li>
          <li><a href="{{ site.baseurl }}/contribute.html" class="contribute">Contribute</a></li>
        </ul>
    </nav>
